.footer-menu {
  width: 100%;
  padding-top: 0px;
  height: 80px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  z-index: 100;
  margin: 0;
  margin-top: 40px;
  position: absolute;
  background: #eaeaea;
}

.special-row {
  max-width: 96% !important;
  padding-top: 0;
  margin-top:0;
  margin-left: 30px;
}

p.copyright {
  line-height:  40px;
  padding-left: 20px;
  font-weight: 350;
}
